$orange:                #bd7c30;
$green:                 #227132;
$peach:                 #f5cd9f;
$lavender:              #bcacd6;
$mint:                  #caddce;
$black:                 #221f1c;


$fonts: 'Lato', Arial, sans-serif;